@use "sass:math";
@import './mixin.scss';
@import './variables.scss';

.hide {
    display: none !important;
}

#root {
    @include width-height(100%, fit-content);
    min-height: 100vh;
    margin: 0 auto;

    &>header {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 'backbtn-title submitbtn';
        align-items: center;
        width: 100%;
        height: fit-content;
        margin-bottom: 12px;
        padding: 16px;
        text-align: center;
        box-shadow: $box-shadow1;

        &:after {
            content: '';
            position: absolute;
            width: 120px;
            height: 24px;
            background-color: white;
            right: -100px;
        }

        .header-back {
            @include flex-box(row, flex-start, center);
            cursor: pointer;
            text-align: left;
            grid-area: backbtn-title;
            
        }

        .title {
            max-width: 100%;
            height: 100%;
            text-align: left;
            grid-column: 1 / 1;
            grid-area: backbtn-title;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
       
        .menu {
            position: relative;
            @include flex-box(row, center, center);
            grid-column: 3 / 3;
            @include ease-transition;
            
            &.move-x {
                @include translate(translateX(calc(100% - 24px)));
            }

            span {
                cursor: pointer;
            }

            nav {
                // grid-area: submitbtn;
    
    
                &>a {
                    display: inline-block;
                    width: 50px;
                    height: 24px;
                    font-size: 1.4rem;
                    padding: 4px;
    
                    &:hover, &:active {
                        border-bottom: 2px solid #262626;
                    }
                }
            }
        }
    }

    .home-page {
        width: 100%;
        height: fit-content;
        min-height: 100%;
        margin-top: 20px;
        padding: 0 20px;
    
        .home-page__banner {
            @include flex-box(row, flex-start, center);
            width: 100%;
            max-width: 1240px;
            height: 200px;
            margin: 0 auto;
            padding: 18px;
            border-radius: 10px;
            box-shadow: $box-shadow2;

            background: linear-gradient(to right, rgb(40, 119, 250), rgb(103, 23, 205));

            .banner-image {
                width: 50%;
                max-width: 164px;
                aspect-ratio: 1 / 1;
                box-shadow: $box-shadow2;
            }
    
            .banner-text {
                color: white;
                margin-left: 12px;
    
                .banner-text__title {
                    font-size: 2rem;
                }
    
                .banner-text__description {
                    font-size: 1.2rem;
                }

                .btn-banner {
                    width: fit-content;
                    padding-left: 12px;
                    padding-right: 12px;
                    margin-top: 12px;
                }
            }
        }
    
        .quiz-category {
            @include flex-box(none, none, center);
            width: 100%;
            max-width: 1280px;
            height: 50px;
            margin: 0 auto;
            overflow-x: auto;
    
            &::-webkit-scrollbar {
                display: none;
            }
    
    
            .category-items {
                @include flex-box(row, center, center);
                width: fit-content;
                max-width: 1280px;
    
                .category-item {
                    width: 120px;
                    margin: 0 12px;
    
                    &:first-child {
                        margin-left: 20px;
                    }
    
                    &:last-child {
                        margin-right: 20px;
                    }
                }
            }
        }
    
        .quizzes {
            display: grid;
            grid-template-columns: repeat(auto-fit, 100%);
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;

            &>a {
                position: relative;
                display: block;
                width: 100%;
                height: 80px;
                margin: 12px 0;
                z-index: 9999;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .quiz {
                position: absolute;
                @include flex-box(row, space-between, center);
                cursor: pointer;
                color: #262626;
                width: 100%;
                height: 80px;
                padding: 18px;
                border-radius: 10px;
                box-shadow: $box-shadow2;
                z-index: -1;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
    
                .quiz-image {
                    width: 45px;
                    aspect-ratio: 1 / 1;
                    box-shadow: $box-shadow2;
                }
    
                .quiz-text {
                    max-width: calc(100% - 81px);
                    flex-grow: 2;
                    margin-left: 12px;
                    padding-right: 12px;
                    
    
                    .quiz-name {
                        width: 100%;
                        max-width: 100%;
                        font-size: 1.4rem;
                        @include text-overflow-ellipsis;
                    }
    
                    .quiz-amount {
                        cursor: default;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .quiz-page {
        @include flex-box(column, space-between, center);
        width: 100%;
        height: calc(100vh - 68px);

        hr {
            width: 335px;
            margin: 5px 0 12px 0;
        }

        .quiz-info {
            cursor: default;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
                'index index index'
                'counter page timer'
            ;
            width: 100%;
            max-width: 335px;
            height: 40px;
            margin: 0 auto;

            .question-index {
                display: grid;
                grid-area: index;
                justify-content: space-between;
                align-content: flex-start;
                width: 100%;
                margin-bottom: 5px;
            }

            .question-counter {
                grid-area: counter;
                width: 100%;

                .question-counter__index, .question-counter__total {
                    font-size: 1.4rem;
                }

                .question-counter__total {
                    font-weight: 600;
                }
            }

            .question-timer {
                grid-area: timer;
                width: 100%;
                text-align: right;

                .question-timer__time {
                    font-size: 1.4rem;
                }
            }
        }

        .quiz-questions {
            width: 100%;
            max-width: 335px;
            height: calc(100% - 361px);
            margin: 0 auto;
            flex-grow: 2;
    
            .question-slider {
                width: 100%;
                max-width: 335px;
                height: calc(100% - 20px);
                scroll-snap-type: x mandatory;
                overflow-x: auto;
    
                &::-webkit-scrollbar {
                    display: none;
                }
                
                .slider {
                    @include flex-box(row, center, center);
                    width: fit-content;
    
                    .question-page {
                        width: 335px;
                        height: 100%;
                        scroll-snap-align: start;
        
                        .question-page__text {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
    
            .page__dot {
                @include flex-box(row, center, center);
                width: 100%;
                max-width: 335px;
                height: 20px;
    
                .btn-dot {
                    margin: 0 5px;
    
                    &:first-child {
                        margin-left: 0;
                    }
    
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .quiz-choices {
            width: 100%;
            max-width: 335px;
            margin: 0 auto 15px auto;

            label {
                display: block;
                input[type="checkbox"] {
                    width: 0;
                    height: 0;
                    display: none;
                }
            }
        }

        .quiz-button {
            @include flex-box(row, space-between, center);
            width: calc(100% - 40px);
            margin-bottom: 15px;

            &>button {
                width: 161px;
            }
        }
    }

    .result-page {
        @include flex-box(column, space-between, center);
        width: 100%;
        max-width: 335px;
        height: calc(100vh - 96px);
        margin: 20px auto 20px auto;

        .point-box {
            text-align: center;
            width: 100%;
            max-width: 335px;

            hr {
                width: 50px;
                height: 5px;
                background-color: #262626;
                margin: 10px auto;
            }

            .point-box__title {
                font-size: 2.2rem;
                font-weight: 900;
                margin-bottom: 20px;
            }

            .point-box__message {
                font-size: 1.4rem;
                margin-top: 20px;
            }
        }

        .redirect {
            @include flex-box(column, center, center);
            width: 100%;
            max-width: 335px;

            &>div {
                width: 100%;
                
                &:first-child {
                    margin-bottom: 12px;
                }
            }
        }
    }
}