@import './mixin.scss';
@import './variables.scss';

@media only screen and (min-width: 376px) {
    #root {
        .quiz-page {
            max-width: 1280px;
            padding: 0 20px;
            margin: 0 auto;
    
            hr {
                width: calc(100% - 40px);
            }
    
            .quiz-info {
                max-width: none;
            }

            .quiz-questions {
                max-width: none;
        
                .question-slider {
                    max-width: none;
                    
                    .slider {        
                        .question-page {
                            width: calc(100vw - 40px);
                            max-width: 1240px;
                        }
                    }
                }

                .page__dot {
                    max-width: none;
                }
            }
    
            .quiz-choices {
                max-width: none;

                .btn-choice {
                    max-width: none;
                }
            }

            .quiz-button {
                width: 100%;
                justify-content: center;

                &>button:first-child {
                    margin-right: 13px;
                }
            }
        }

        .result-page {
            width: 100%;
            max-width: none;
            padding: 0 20px;

            .redirect {
                @include flex-box(row, space-between, center);
                width: 100%;
                max-width: none;

                &>div {
                    width: 49%;

                    &:first-child {
                        margin-bottom: 0;
                    }
                    
                }
            }
        }
    }
}


@media only screen and (min-width: 480px) {
    #root {
        .home-page {
            .home-page__banner {
                padding-left: 40px;
                padding-right: 40px;
                justify-content: space-between;

                .banner-text {
                    text-align: right;

                    .btn-banner {
                        float: right;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 730px) {
    #root {
        .home-page {
            .quizzes {
                grid-template-columns: repeat(auto-fit, calc(50% - 10px));
                gap: 20px;
        
                &>a {
                    margin: 0;
                }

                .quiz {
                    margin: 0;
                }
            }
        }

        .quiz-choices {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            max-width: none;
            gap: 20px;

            .btn-choice {
                margin: 0;
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    #root {
        .home-page {
            .quizzes {
                    padding: 0 20px;
            }
        }
    }
}