$tc-quiz-blue: #6495ED;
$tc-quiz-green: #2db438;
$tc-quiz-red: #e13d3d;

$button-color1: #6495ED;

$box-shadow1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$box-shadow2: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;