.hide {
  display: none !important;
}

#root {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  margin: 0 auto;
}
#root > header {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "backbtn-title submitbtn";
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 12px;
  padding: 16px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#root > header:after {
  content: "";
  position: absolute;
  width: 120px;
  height: 24px;
  background-color: white;
  right: -100px;
}
#root > header .header-back {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  text-align: left;
  grid-area: backbtn-title;
}
#root > header .title {
  max-width: 100%;
  height: 100%;
  text-align: left;
  grid-column: 1/1;
  grid-area: backbtn-title;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#root > header button {
  width: 70px;
}
#root > header .menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column: 3/3;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
#root > header .menu.move-x {
  transform: translateX(calc(100% - 24px));
  -webkit-transform: translateX(calc(100% - 24px));
  -moz-transform: translateX(calc(100% - 24px));
  -o-transform: translateX(calc(100% - 24px));
}
#root > header .menu span {
  cursor: pointer;
}
#root > header .menu nav > a {
  display: inline-block;
  width: 50px;
  height: 24px;
  font-size: 1.4rem;
  padding: 4px;
}
#root > header .menu nav > a:hover, #root > header .menu nav > a:active {
  border-bottom: 2px solid #262626;
}
#root .home-page {
  width: 100%;
  height: fit-content;
  min-height: 100%;
  margin-top: 20px;
  padding: 0 20px;
}
#root .home-page .home-page__banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  height: 200px;
  margin: 0 auto;
  padding: 18px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background: linear-gradient(to right, rgb(40, 119, 250), rgb(103, 23, 205));
}
#root .home-page .home-page__banner .banner-image {
  width: 50%;
  max-width: 164px;
  aspect-ratio: 1/1;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#root .home-page .home-page__banner .banner-text {
  color: white;
  margin-left: 12px;
}
#root .home-page .home-page__banner .banner-text .banner-text__title {
  font-size: 2rem;
}
#root .home-page .home-page__banner .banner-text .banner-text__description {
  font-size: 1.2rem;
}
#root .home-page .home-page__banner .banner-text .btn-banner {
  width: fit-content;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
}
#root .home-page .quiz-category {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  height: 50px;
  margin: 0 auto;
  overflow-x: auto;
}
#root .home-page .quiz-category::-webkit-scrollbar {
  display: none;
}
#root .home-page .quiz-category .category-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 1280px;
}
#root .home-page .quiz-category .category-items .category-item {
  width: 120px;
  margin: 0 12px;
}
#root .home-page .quiz-category .category-items .category-item:first-child {
  margin-left: 20px;
}
#root .home-page .quiz-category .category-items .category-item:last-child {
  margin-right: 20px;
}
#root .home-page .quizzes {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100%);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
#root .home-page .quizzes > a {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  margin: 12px 0;
  z-index: 9999;
}
#root .home-page .quizzes > a:first-child {
  margin-top: 0;
}
#root .home-page .quizzes > a:last-child {
  margin-bottom: 0;
}
#root .home-page .quizzes .quiz {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #262626;
  width: 100%;
  height: 80px;
  padding: 18px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  z-index: -1;
}
#root .home-page .quizzes .quiz:first-child {
  margin-top: 0;
}
#root .home-page .quizzes .quiz:last-child {
  margin-bottom: 0;
}
#root .home-page .quizzes .quiz .quiz-image {
  width: 45px;
  aspect-ratio: 1/1;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#root .home-page .quizzes .quiz .quiz-text {
  max-width: calc(100% - 81px);
  flex-grow: 2;
  margin-left: 12px;
  padding-right: 12px;
}
#root .home-page .quizzes .quiz .quiz-text .quiz-name {
  width: 100%;
  max-width: 100%;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#root .home-page .quizzes .quiz .quiz-text .quiz-amount {
  cursor: default;
  font-size: 1.2rem;
}
#root .quiz-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100vh - 68px);
}
#root .quiz-page hr {
  width: 335px;
  margin: 5px 0 12px 0;
}
#root .quiz-page .quiz-info {
  cursor: default;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "index index index" "counter page timer";
  width: 100%;
  max-width: 335px;
  height: 40px;
  margin: 0 auto;
}
#root .quiz-page .quiz-info .question-index {
  display: grid;
  grid-area: index;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
  margin-bottom: 5px;
}
#root .quiz-page .quiz-info .question-counter {
  grid-area: counter;
  width: 100%;
}
#root .quiz-page .quiz-info .question-counter .question-counter__index, #root .quiz-page .quiz-info .question-counter .question-counter__total {
  font-size: 1.4rem;
}
#root .quiz-page .quiz-info .question-counter .question-counter__index {
  font-weight: 600;
}
#root .quiz-page .quiz-info .question-timer {
  grid-area: timer;
  width: 100%;
  text-align: right;
}
#root .quiz-page .quiz-info .question-timer .question-timer__time {
  font-size: 1.4rem;
}
#root .quiz-page .quiz-questions {
  width: 100%;
  max-width: 335px;
  height: calc(100% - 361px);
  margin: 0 auto;
  flex-grow: 2;
}
#root .quiz-page .quiz-questions .question-slider {
  width: 100%;
  max-width: 335px;
  height: calc(100% - 20px);
  scroll-snap-type: x mandatory;
  overflow-x: auto;
}
#root .quiz-page .quiz-questions .question-slider::-webkit-scrollbar {
  display: none;
}
#root .quiz-page .quiz-questions .question-slider .slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
#root .quiz-page .quiz-questions .question-slider .slider .question-page {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  width: 335px;
  height: 100%;
  scroll-snap-align: start;
}
#root .quiz-page .quiz-questions .question-slider .slider .question-page .question-page__text {
  font-size: 1.3rem;
}
#root .quiz-page .quiz-questions .page__dot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 335px;
  height: 20px;
}
#root .quiz-page .quiz-questions .page__dot .btn-dot {
  margin: 0 5px;
}
#root .quiz-page .quiz-questions .page__dot .btn-dot:first-child {
  margin-left: 0;
}
#root .quiz-page .quiz-questions .page__dot .btn-dot:last-child {
  margin-right: 0;
}
#root .quiz-page .quiz-choices {
  width: 100%;
  max-width: 335px;
  margin: 0 auto 15px auto;
}
#root .quiz-page .quiz-choices label {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#root .quiz-page .quiz-choices label input[type=checkbox] {
  width: 0;
  height: 0;
  display: none;
}
#root .quiz-page .quiz-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  width: calc(100% - 40px);
  margin-bottom: 15px;
}
#root .quiz-page .quiz-button > button {
  width: 100px;
}
#root .result-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 335px;
  height: calc(100vh - 96px);
  margin: 20px auto 20px auto;
}
#root .result-page .point-box {
  text-align: center;
  width: 100%;
  max-width: 335px;
  margin-bottom: 25px;
}
#root .result-page .point-box hr {
  width: 50px;
  height: 2px;
  background-color: #262626;
  margin: 10px auto;
}
#root .result-page .point-box .point-box__title {
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 20px;
}
#root .result-page .point-box .point-box__message {
  font-size: 1.4rem;
  margin-top: 20px;
}
#root .result-page .redirect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 335px;
}
#root .result-page .redirect > a {
  width: 100%;
  max-width: 335px;
}
#root .result-page .redirect > a:first-child {
  margin-bottom: 12px;
}
#root .quiz-answer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 100%;
  margin-top: 20px;
  padding: 0 20px;
}
#root .quiz-answer .title {
  width: 100%;
  max-width: 335px;
  margin-bottom: 20px;
}
#root .quiz-answer .title .text-subtitle {
  font-size: 1.4rem;
}
#root .quiz-answer .title .text-title {
  font-size: 2.2rem;
}
#root .quiz-answer .quiz-answers__section {
  width: 100%;
  max-width: 335px;
}
#root .quiz-answer .quiz-answers__section .question {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
#root .quiz-answer .quiz-answers__section .question .question-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#root .quiz-answer .quiz-answers__section .question .question-head .question-index {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#root .quiz-answer .quiz-answers__section .question .question-head .question-index .question-index__text span {
  line-height: 1;
  font-size: 1.5rem;
}
#root .quiz-answer .quiz-answers__section .question .question-head .question-score span {
  line-height: 1;
  font-size: 1.5rem;
}
#root .quiz-answer .quiz-answers__section .question .question-content .question-text {
  margin-bottom: 8px;
}

/*# sourceMappingURL=layout.css.map */
