@media only screen and (min-width: 376px) {
  #root .quiz-page {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
  }
  #root .quiz-page hr {
    width: calc(100% - 40px);
  }
  #root .quiz-page .quiz-info {
    max-width: none;
  }
  #root .quiz-page .quiz-questions {
    max-width: none;
  }
  #root .quiz-page .quiz-questions .question-slider {
    max-width: none;
  }
  #root .quiz-page .quiz-questions .question-slider .slider .question-page {
    width: calc(100vw - 40px);
    max-width: 1240px;
  }
  #root .quiz-page .quiz-questions .page__dot {
    max-width: none;
  }
  #root .quiz-page .quiz-choices {
    max-width: none;
  }
  #root .quiz-page .quiz-choices .btn-choice {
    max-width: none;
  }
  #root .quiz-page .quiz-button {
    width: 100%;
    justify-content: center;
  }
  #root .quiz-page .quiz-button > button:first-child {
    margin-right: 13px;
  }
  #root .quiz-page .quiz-button > button:last-child {
    margin-left: 13px;
  }
  #root .result-page {
    max-width: none;
    padding: 0 20px;
  }
  #root .result-page .redirect {
    max-width: none;
  }
  #root .result-page .redirect > div {
    width: 49%;
  }
  #root .result-page .redirect > div:first-child {
    margin-bottom: 0;
  }
  #root .quiz-answer .title {
    max-width: none;
  }
  #root .quiz-answer .title .text-subtitle {
    font-size: 1.4rem;
  }
  #root .quiz-answer .title .text-title {
    font-size: 2.2rem;
  }
  #root .quiz-answer .quiz-answers__section {
    max-width: none;
  }
  #root .quiz-answer .quiz-answers__section .question .question-head .question-index .question-index__text span {
    line-height: 1;
    font-size: 1.5rem;
  }
  #root .quiz-answer .quiz-answers__section .question .question-head .question-score span {
    line-height: 1;
    font-size: 1.5rem;
  }
  #root .quiz-answer .quiz-answers__section .question .question-content .question-text {
    margin-bottom: 8px;
  }
}
@media only screen and (min-width: 480px) {
  #root .home-page .home-page__banner {
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
  }
  #root .home-page .home-page__banner .banner-text {
    text-align: right;
  }
  #root .home-page .home-page__banner .banner-text .btn-banner {
    float: right;
  }
}
@media only screen and (min-width: 730px) {
  #root .btn-question-index {
    height: 12px;
    border-radius: 5px;
  }
  #root .home-page .quizzes {
    grid-template-columns: repeat(auto-fit, calc(50% - 10px));
    gap: 20px;
  }
  #root .home-page .quizzes > button {
    margin: 0;
  }
  #root .home-page .quizzes .quiz {
    margin: 0;
  }
  #root .quiz-page {
    justify-content: flex-start;
  }
  #root .quiz-page .quiz-info {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #root .quiz-page .quiz-info .question-counter, #root .quiz-page .quiz-info .question-timer {
    margin-top: 10px;
  }
  #root .quiz-page .quiz-info .question-counter .question-counter__index, #root .quiz-page .quiz-info .question-counter .question-counter__total, #root .quiz-page .quiz-info .question-counter .question-timer__time, #root .quiz-page .quiz-info .question-timer .question-counter__index, #root .quiz-page .quiz-info .question-timer .question-counter__total, #root .quiz-page .quiz-info .question-timer .question-timer__time {
    font-size: 2rem;
  }
  #root .quiz-page .quiz-questions {
    flex-grow: 0;
  }
  #root .quiz-page .quiz-questions .question-slider .slider .question-page .question-page__text {
    font-size: 1.6rem;
  }
  #root .quiz-page .quiz-choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: none;
    gap: 20px;
  }
  #root .quiz-page .quiz-choices .btn-choice {
    font-size: 1.4rem;
    margin: 0;
  }
  #root .quiz-page .quiz-button {
    margin-bottom: 25px;
  }
  #root .quiz-page .quiz-button button {
    width: 161px;
  }
  #root .quiz-answer .title {
    max-width: 690px;
  }
  #root .quiz-answer .title .text-subtitle {
    font-size: 1.6rem;
  }
  #root .quiz-answer .title .text-title {
    font-size: 2.6rem;
  }
  #root .quiz-answer .quiz-answers__section {
    max-width: 690px;
  }
  #root .quiz-answer .quiz-answers__section .question .question-head .question-index .question-index__text span {
    line-height: 1;
    font-size: 1.8rem;
  }
  #root .quiz-answer .quiz-answers__section .question .question-head .question-score span {
    line-height: 1;
    font-size: 1.8rem;
  }
  #root .quiz-answer .quiz-answers__section .question .question-content .question-text {
    margin-bottom: 8px;
  }
  #root .quiz-answer .quiz-answers__section .question .question-content p {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1280px) {
  #root .home-page .quizzes {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=responsive.css.map */
